{{#each selectBox}}
{{#if display}}
<select data-index="select" data-index-select="{{selectId}}">
  <option value="">{{name}}</option>
  {{#each items}}
  {{!-- {{log name}} --}}
  <option value={{value}} {{selected ../selectedIndex @index}}>{{name}}</option>
  {{/each}}
</select>
{{/if}}
{{/each}}
